<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>福州，你好</title>

  <!--引入css-->
  <link rel="stylesheet" href="../css/index.css"/>

</head>
<body>
<div id="app">
  <!--导航-->
  <div id="navigation">
    <ul class="navigation_ul">
      <li class="navigation_ul_li">
        <a class="navigation_ul_li_a" href="#">首页</a>
      </li>

      <li class="navigation_ul_li">
        <a class="navigation_ul_li_a" href="#">旅游资讯</a>
      </li>

      <li class="navigation_ul_li">
        <a class="navigation_ul_li_a" href="#">景区</a>
      </li>
      <li class="navigation_ul_li">
        <a class="navigation_ul_li_a" href="#">线路</a>
      </li>

      <li class="navigation_ul_li">
        <a class="navigation_ul_li_a" href="#">酒店</a>
      </li>
    </ul>
  </div>

  <!--顶部图片-->
  <div id="main_pic">
    <img class="main_pic_img" src="../pictures/index/main_pic.jpg">
    <span class="main_pic_span">浏览古迹&nbsp;&nbsp;有福之州</span>
  </div>

  <!--第三部分-->
  <div id="main_content">

    <!--旅游导航-->
    <div class="main_content_menu">
      <h2 class="main_content_menu_h2">福州旅游</h2>

      <ul class="main_content_menu_ul">
        <li class="main_content_menu_ul_li">
          <img class="main_content_menu_ul_li_img" src="../pictures/index/main_content_menu_ul_li.png">
          <a class="main_content_menu_ul_li_a" href="#" target="_blank">图片</a>
        </li>

        <li class="main_content_menu_ul_li">
          <img class="main_content_menu_ul_li_img" src="../pictures/index/main_content_menu_ul_li.png">
          <a class="main_content_menu_ul_li_a" href="#" target="_blank">图片</a>
        </li>

        <li class="main_content_menu_ul_li">
          <img class="main_content_menu_ul_li_img" src="../pictures/index/main_content_menu_ul_li.png">
          <a class="main_content_menu_ul_li_a" href="#" target="_blank">图片</a>
        </li>

        <li class="main_content_menu_ul_li">
          <img class="main_content_menu_ul_li_img" src="../pictures/index/main_content_menu_ul_li.png">
          <a class="main_content_menu_ul_li_a" href="#" target="_blank">图片</a>
        </li>
      </ul>
    </div>

    <!--轮播图-->
    <div class="main_content_pic"></div>

    <!--最新资讯-->
    <div class="main_content_news">
      <h2 class="news_h2">
        <span class="news_h2_span_title">最新资讯</span>
        <span class="news_h2_span_more">
          <a class="news_h2_span_more_a" href="#" target="_blank">更多资讯</a>
        </span>
      </h2>

      <div class="news_book">
        <ul class="news_book_ul">
          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>

          <li class="news_book_ul_li">
            <a class="news_book_ul_li_a" href="#" target="_blank">好消息</a>
          </li>
        </ul>
      </div>
    </div>

    <!--精品路线-->
    <div class="main_content_route">
      <!--标题-->
      <h2 class="route_h2">精品路线

        <span class="route_h2_more">
          <a class="route_h2_more_a" href="#" target="_blank">其他线路&nbsp;></a>
        </span>

        <a class="route_h2_a tag1" href="#" target="_blank">夜游福州</a>
        <a class="route_h2_a tag2" href="#" target="_blank">双杭雅游</a>
        <a class="route_h2_a tag3" href="#" target="_blank">岛屿之游</a>
        <a class="route_h2_a tag4" href="#" target="_blank">寺庙之旅</a>
      </h2>

      <!--团队旅游左边部分-->
      <div class="team_left">
        <a href="#" target="_blank">
          <!--主题部分-->
          <div class="title">
            <!--标题-->
            <h3>
              <em>01</em>赏听之旅
            </h3>

            <!--线路介绍-->
            <span>三坊七巷</span>
          </div>

          <!--图片-->
          <div class="pic">
            <img src="../pictures/index/1.jpeg">
          </div>
        </a>
      </div>

      <!--团队旅游右边部分-->
      <div class="team_right">
        <ul>
          <li>
            <a href="#" target="_blank">
              <!--图片-->
              <img src="../pictures/index/1.jpeg">

              <!--主题部分-->
              <div class="title">
                <!--标题部分-->
                <h3>
                  <em>02</em>上下杭
                </h3>

                <!--线路介绍-->
                <span>上下杭</span>
              </div>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <!--图片-->
              <img src="../pictures/index/1.jpeg">

              <!--主题部分-->
              <div class="title">
                <!--标题部分-->
                <h3>
                  <em>03</em>森林公园
                </h3>

                <!--线路介绍-->
                <span>森林公园</span>
              </div>
            </a>
          </li>

          <li>
            <a href="#" target="_blank">
              <!--图片-->
              <img src="../pictures/index/1.jpeg">

              <!--主题部分-->
              <div class="title">
                <!--标题部分-->
                <h3>
                  <em>04</em>沙滩公园
                </h3>

                <!--线路介绍-->
                <span>沙滩公园</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>
